<div class="row col-md-12">
  <div class="col-md-4">
    <h5>Logs</h5>
    <p>Listagem de logs registrados</p>

  </div>


</div>


<div class="row mb-3">

</div>


<div class="row">
  <div class="col-md-3">
    <input type="text" class="form-control" [(ngModel)]="descricao" placeholder="ID do curso" /> &nbsp;
  </div>
  <div class="col-md-3">
    <input type="button" (click)="setDesc(descricao, size)" class="btn btn-dark" value="Procurar" />
  </div>

</div>


<ul class="nav nav-pills">
  <span class="mt-2">Páginas: </span>
  <li class="nav-item" *ngFor="let p of pages; let i=index">
    <a class="nav-link text-dark" href="" (click)="setPage(i,$event)">{{i+1}}</a>
  </li>
  <div>
    <select class="form-select" [(ngModel)]="size">
      <option value="0" disabled>Itens por página</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="{{totalElements}}">Todos</option>
    </select>
  </div>
</ul>



<hr>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>ID Log</th>
      <th>ID Curso</th>

      <th>Usuario</th>
      <th>Ação</th>
      <th>Cadastro</th>
      <th>Atualização</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of logs">
      <td>{{l.id_log}}</td>
      <td>{{l.id_curso}}</td>

      <td>{{l.nome}}</td>
      <td>{{l.acao}}</td>
      <td>{{l.inclusao | date : 'dd/MM/yyyy'}}</td>
      <td>{{l.ultimaAtualizacao | date : 'dd/MM/yyyy'}}</td>
    </tr>

  </tbody>
</table>





<a class="mt-3 btn btn botaodevoltar" href="javascript:history.back()">Voltar</a>
