<div class="row col-md-12">
  <div class="col-md-4">
    <h5>Logs</h5>
    <p>Listagem de logs registrados</p>

  </div>


</div>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>ID Log</th>
      <th>Curso</th>
      <th>Usuario</th>
      <th>Ação</th>
      <th>Inclusão</th>
      <th>Ultima Atualização</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of logs">
      <td>{{l.id_log}}</td>
      <td>{{l.descricao}}</td>
      <td>{{l.nome}}</td>
      <td>{{l.acao}}</td>
      <td>{{l.inclusao | date : 'dd/MM/yyyy'}}</td>
      <td>{{l.ultimaAtualizacao | date : 'dd/MM/yyyy'}}</td>
    </tr>

  </tbody>
</table>

<hr>
<ul class="nav nav-pills">
  <li class="nav-item" *ngFor="let p of pages; let i=index">
    <a class="nav-link text-dark" href="" (click)="setPage(i,$event)">{{i}}</a>
  </li>
</ul>




<a class="mt-3 btn btn botaodevoltar" href="javascript:history.back()">Voltar</a>
