<nav class="navbar navbar-expand-lg  navbar-light" style="background-color: #330449;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/pagina-inicial">Cast Group</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        <li class="nav-item active" *ngIf="isAuthenticated">
          <a class="nav-link text-white" routerLink="consultar-cursos">Curso </a>
        </li>

      </ul>


      <form class="d-flex text-white" *ngIf="isAuthenticated">
        <div class="mt-2">
          Usuário: &nbsp;<strong>{{loginUsuario}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <button class="btn btn-outline-light" (click)="logout()">
          Sair do sistema
        </button>
      </form>
      <div *ngIf="!isAuthenticated">
        <a routerLink="/account"><button class="btn btn-outline-light">Criar Conta</button></a>
      </div>&nbsp;&nbsp;&nbsp;
      <div *ngIf="!isAuthenticated">
        <a routerLink="/login"><button class="btn btn-outline-light">Login</button></a>
      </div>

    </div>
  </div>
</nav>
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
