<h5>Editar Curso</h5>
<p>Preencha os campos para alterar os dados do curso.</p>
<p>{{descricao}} | {{categoria}} | {{quantidadeAlunos}} aluno(s)</p>
<p>Inicio: {{inicio | date : 'dd/MM/yyyy'}} | Término: {{termino | date : 'dd/MM/yyyy'}}</p>

<form [formGroup]="formEdicao" (ngSubmit)="(onSubmit())">
  <div *ngIf="mensagem" class="mb-3 alert alert-dark">
    <strong>{{mensagem}}</strong>
  </div>
  <div class="row mb-3">
    <div class="class col-md-6">
      <label> Descrição:</label>
      <input type="text" class="form-control" formControlName="descricao" />
      <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
        <span *ngIf="form.descricao.errors.required">
          <i class="fa fa-exclamation-circle"></i>
          Por favor, digite a descrição.
        </span>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <label>Data de início:</label>
      <input type="date" class="form-control" formControlName="inicio" />

    </div>
    <div class="col-md-3">
      <label>Data de término:</label>
      <input type="date" class="form-control" formControlName="termino" />
    </div>
  </div>

  <div class="row mb-3">
    <div class="class col-md-3">
      <label>Categoria: {{categoria}}</label>
      <select class="form-select" formControlName="id_categoria" required="true">
        <option *ngFor="let c of categorias" value="{{c.id_categoria}}">{{c.categoria}}</option>
      </select>
    </div>

    <div class="class col-md-3">
      <label> Quantidade de Alunos:</label>
      <input type="number" class="form-control" formControlName="quantidadeAlunos" />
      <div class="text-danger" *ngIf="form.quantidadeAlunos.touched && form.quantidadeAlunos.invalid">
        <span *ngIf="form.quantidadeAlunos.errors.required">
          <i class="fa fa-exclamation-circle"></i>
          Por favor, digite a quantidade de alunos.
        </span>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <input type="submit" [disabled]="!formEdicao.valid" class="btn btn-dark" value="Adicionar" />
      &nbsp;
      <button class="btn btn botaodevoltar" routerLink="/pagina-inicial">Voltar</button>


    </div>
  </div>



</form>
