<h5>Consulta de cursos</h5>
<p>Listagem de cursos Cadastrados</p>
<div *ngIf="mensagem" class="mb-3 alert alert-dark">
  <strong>{{mensagem}}</strong>
</div>

<div class="row mb-3">
  <div class="col md-4">
    <input type="text" class="form-control" placeholder="Filtrar Cursos" [(ngModel)]="filtro" />

  </div>
</div>

<div>
  <form [formGroup]="formFiltroData" (ngSubmit)="(onSubmit())">
    <div class="row mb-3">
      <div class="col-md-3">
        <label>Data de início:</label>
        <input type="date" class="form-control" formControlName="inicio" required="true" />
      </div>
      <div class="col-md-3">
        <label>Data de término:</label>
        <input type="date" class="form-control" formControlName="termino" required="true" />
      </div>
      <div class="col-md-3 mt-4">
        <input type="submit" [disabled]="!formFiltroData.valid" class="btn btn-dark" value="Filtrar por data" />
      </div>
    </div>
  </form>
</div>

<form [formGroup]="formFiltroDescricao" (ngSubmit)="(onSubmitD())">
  <div class="row mb-3">
    <div class="col-md-3">
      <label> Descrição:</label>
      <input type="text" class="form-control" formControlName="descricao" required="true" />

    </div>
    <div class="col-md-3 mt-4">
      <input type="submit" [disabled]="!formFiltroDescricao.valid" class="btn btn-dark" value="Filtrar por Descrição" />
    </div>
  </div>
</form>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Início</th>
      <th>Término</th>
      <th>Alunos</th>
      <th>Status</th>
      <th>Ações</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cursos | filter : filtro">
      <td>{{c.descricao}}</td>
      <td>{{c.categoria.categoria}}</td>
      <td>{{c.inicio | date : 'dd/MM/yyyy'}}</td>
      <td>{{c.termino | date : 'dd/MM/yyyy'}}</td>
      <td>{{c.quantidadeAlunos}}</td>
      <td *ngIf="c.finalizado">Finalizado</td>
      <td *ngIf="!c.finalizado">Em Curso</td>
      <td>
        <button class="btn btn-sm botaoeditar" [routerLink]="['/editar-cursos',c.id_curso]">Editar</button>
        &nbsp;
        <button class="btn btn-dark btn-sm" (click)="excluir(c.id_curso)">Excluir</button>

      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan=" 6">Total de registros: {{cursos.length}}

      </td>
    </tr>
    <!-- <tr>
      <td colspan=" 6">
        <button class="btn btn-dark btn-sm" (click)="relatorio()">Relatorio em PDF</button>
      </td>
    </tr> -->
  </tfoot>
</table>


<a class="btn btn botaodevoltar" href="javascript:history.back()">Voltar</a>
