<div class="row col-md-12">
  <div class="col-md-4">
    <h5>Consulta de cursos</h5>
    <p>Listagem de cursos Cadastrados</p>
    <div *ngIf="mensagem" class="mb-3 alert alert-dark">
      <strong>{{mensagem}}</strong>
    </div>
  </div>

  <div>
    <form [formGroup]="formFiltroData" (ngSubmit)="(onSubmit())">
      <div class="row mb-3">
        <div class="col-md-2">
          <label>Desde:</label>
          <input type="date" class="form-control" formControlName="inicio" />
        </div>
        <div class="col-md-2">
          <label>Até:</label>
          <input type="date" class="form-control" formControlName="termino" />
        </div>
        <div class="col-md-2">
          <label> Descrição:</label>
          <input type="text" class="form-control" formControlName="descricao" />
        </div>
        <div class="col-md-2 mt-4">
          <input type="submit" class="btn botaodevoltar" style="margin-right: 5px;" value="Filtrar" />
          <input type="button" class="btn botaoeditar" (click)="resetar()" value="Resetar" />
        </div>
        <div class="col-md-2 mt-4 right">
          <button class="btn botaodevoltar form-control" routerLink="/cadastrar-cursos">Adicionar</button>
        </div>
      </div>
    </form>
  </div>




</div>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Início</th>
      <th>Término</th>
      <th>Alunos</th>
      <th>Status</th>
      <th class="text-center">Ações</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cursos | filter : filtro">
      <td>{{c.descricao}}</td>
      <td>{{c.categoria.categoria}}</td>
      <td>{{c.inicio | date : 'dd/MM/yyyy'}}</td>
      <td>{{c.termino | date : 'dd/MM/yyyy'}}</td>
      <td>{{c.quantidadeAlunos}}</td>
      <td *ngIf="!c.finalizado">Em andamento</td>
      <td *ngIf="c.finalizado">Finalizado</td>
      <td class="text-center">
        <button class="btn btn-dark btn-sm botaoeditar" [routerLink]="['/editar-cursos',c.id_curso]">Editar</button>
        &nbsp;
        <!-- <button class="btn btn-dark btn-sm" (click)="excluir(c.id_curso)" [disabled]="c.finalizado">Excluir</button> -->
        <button class="btn btn-dark btn-sm" (click)="excluir(c.id_curso)">Excluir</button>

      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">Registros da página: {{cursos.length | filter : filtro}}</td>
    </tr>
  </tfoot>
</table>



<div class="row col-md-12">

  <nav aria-label="Page navigation example">
    <ul class="pagination">

      <li *ngFor="let p of pages; let i=index" class="page-item">
        <a class="page-link" href="" (click)="setPage(i,$event)">{{i+1}}</a>
      </li>
      <li class="mt-1">&nbsp; &nbsp; &nbsp; &nbsp;
        <a (click)="setOrder('asc',$event)" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        &nbsp;
        <a (click)="setOrder('desc',$event)" href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
      </li> &nbsp; &nbsp; &nbsp; &nbsp;
      <li>
        <select class="form-select" [(ngModel)]="size" (change)="getSelectedSkill()">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="totalElements">Todos</option>
        </select>
      </li>&nbsp; &nbsp; &nbsp; &nbsp;
      <li>
        <select class="form-select" [(ngModel)]="sort" (change)="getSelectedSort()">
          <option [ngValue]="'inclusao'">Inclusão</option>
          <option [ngValue]="'descricao'">Descrição</option>
          <option [ngValue]="'inicio'">Inicio</option>
          <option [ngValue]="'termino'">Término</option>
          <option [ngValue]="'categoria'">Categoria</option>
          <option [ngValue]="'finalizado'">Status</option>
        </select>
      </li>&nbsp; &nbsp; &nbsp; &nbsp;
    </ul>
  </nav>
</div>




<div class="row">
  <div class="col-md-2 mb-3">
    <button class="btn botaodevoltar" routerLink="/pagina-inicial">Voltar</button>
  </div>
  <div class="col-md-1 mb-3 right">
    <button class="btn botaodevoltar form-control" routerLink="/logs">Logs</button>
  </div>
</div>
