<div class="row col-md-12">
  <div class="col-md-4">
    <h5>Consulta de cursos</h5>
    <p>Listagem de cursos Cadastrados</p>
    <div *ngIf="mensagem" class="mb-3 alert alert-dark">
      <strong>{{mensagem}}</strong>
    </div>
  </div>

  <div class="col-md-2 mb-3 right">
    <button class="btn botaodevoltar form-control" routerLink="/cadastrar-cursos">Adicionar</button>
  </div>

</div>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Início</th>
      <th>Término</th>
      <th>Alunos</th>
      <th>Ações</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cursos | filter : filtro">
      <td>{{c.descricao}}</td>
      <td>{{c.categoria.categoria}}</td>
      <td>{{c.inicio | date : 'dd/MM/yyyy'}}</td>
      <td>{{c.termino | date : 'dd/MM/yyyy'}}</td>
      <td>{{c.quantidadeAlunos}}</td>
      <td>
        <button *ngIf="!c.finalizado" class="btn btn-dark btn-sm botaoeditar"
          [routerLink]="['/editar-cursos',c.id_curso]">Editar</button>
        &nbsp;
        <!-- *ngIf="!c.finalizado" -->
        <!-- <button class="btn btn-dark btn-sm" (click)="excluir(c.id_curso)" [disabled]="c.finalizado">Excluir</button> -->

        <button *ngIf="c.finalizado" class="btn btn-light btn-sm" (click)="excluir(c.id_curso)"
          [disabled]="c.finalizado">Finalizado</button>

        <button *ngIf="!c.finalizado" class="btn btn-dark btn-sm" (click)="excluir(c.id_curso)"
          [disabled]="c.finalizado">Excluir</button>




      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan=" 6">Total de registros: {{cursos.length}}

      </td>
    </tr>
    <!-- <tr>
      <td colspan=" 6">
        <button class="btn btn-dark btn-sm" (click)="relatorio()">Relatorio em PDF</button>
      </td>
    </tr> -->
  </tfoot>
</table>


<div>
  <form [formGroup]="formFiltroData" (ngSubmit)="(onSubmit())">
    <div class="row mb-3">
      <div class="col-md-3">
        <label>Data de início:</label>
        <input type="date" class="form-control" formControlName="inicio" required="true" />
      </div>
      <div class="col-md-3">
        <label>Data de término:</label>
        <input type="date" class="form-control" formControlName="termino" required="true" />
      </div>
      <div class="col-md-3 mt-4">
        <input type="submit" [disabled]="!formFiltroData.valid" class="btn btn-dark" value="Filtrar por data" />
      </div>
    </div>
  </form>
</div>

<form [formGroup]="formFiltroDescricao" (ngSubmit)="(onSubmitD())">
  <div class="row mb-3">
    <div class="col-md-3">
      <label> Descrição:</label>
      <input type="text" class="form-control" formControlName="descricao" required="true" />
    </div>
    <div class="col-md-3 mt-4">
      <input type="submit" [disabled]="!formFiltroDescricao.valid" class="btn btn-dark" value="Filtrar por Descrição" />
    </div>
  </div>
</form>


<div class="row mb-3 col-md-3 mt-4">
  <div class="col md-4">
    <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="filtro" />
  </div>
</div>

<div class="row">
  <div class="col-md-2 mb-3">
    <a class="btn btn botaodevoltar" href="javascript:history.back()">Voltar</a>
  </div>
  <div class="col-md-1 mb-3 right">
    <button class="btn botaodevoltar form-control" routerLink="/logs">Logs</button>
  </div>

</div>
